*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100%;
}

input{
  background-color: rgba(215, 215, 215, 0.71);
  height: 30px;
  width: 100%;
}

button{
  border: none;
  background-color: pink;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

button:hover{
  background-color: rgb(255, 95, 122);
}
